@import url('https://fonts.googleapis.com/css?family=Poppins');

.red {
  color: grey;
}

.red:before {
  content: '- ';
}

.green {
  color: #4a314d;
  /* font-weight: bold; */
}

.green:before {
  content: '+ ';
}

.compare-card {
  border: 1px solid #f0af4d;
  border-radius: 4px;
  padding: 0.5rem;
  font-family: 'Poppins', sans-serif;
  border-radius: 0px;
  text-align: center;
  background: white;
  cursor: pointer;
}

.compare-card:hover {
  background: orange;
}

.compare-card ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline-start: 0px;
  font-weight: bold;
}

h1 {
  font-size: 1.2em;
}
